.header{background-color:#ffffff;box-shadow:2px 2px 5px rgba(0,0,0,0.25);}
.menu-item>a{color:#838383;}
.overlay-menu{background-color:#ffffff;}
@media screen and (max-width:768px){
	.menu-bar{width:50%;margin:0 0 0 5%;}
	.menu-item{width:23.5%;}
}

@media screen and (max-width:767px){
	.menu-bar{display:none;}

	.header{height:60px;}
	.header img{padding:10px 2%;width:100px;}
}

.landing{max-width:1350px;width:90%;min-height:100vh;position:relative;display:block;margin:auto;}
.landing>img{position:absolute;top:50%;transform:translateY(-40%);right:0;max-width:600px;width:50%;}
.landingTxt{position:absolute;top:50%;transform:translateY(-40%);left:0;max-width:600px;width:40%;}
.landingTxtBig{font-family:Futura;font-weight:bold;font-size:60px;line-height:72px;color:#152994;text-shadow:4px 4px 4px #ffffff;}
.landingTxtSmall{font-family:Futura;font-weight:normal;font-size:30px;line-height:36px;color:#818181;padding:10px 35px;margin-top:100px;border-left:6px solid #152994;}

.aboutDivs{padding:100px 0;max-width:1350px;width:90%;position:relative;margin:auto;}
.aboutDivsHeads{font-size:40px;line-height:48px;font-family:Futura;color:#7D7D7D;}
.aboutDivs>hr{border:3px solid #152994;width:90px;margin:30px 0;}
.aboutDivsTxtLarge{font-family:Futura;font-weight:600;font-size:60px;line-height:72px;color:#6A6A6A;margin:50px 0;}
.aboutDivsTxt{font-size:24px;line-height:29px;color:#595959;width:47.5%;max-width:600px;}
.wide{width:80%;max-width:1000px;}
.aboutDivs>img{position:absolute;right:0;top:-10%;width:47.5%;max-width:600px;}
.smol{display:none;}

@media screen and (max-width:767px){
	.landingTxt,.landing>img{position:static;top:unset;transform:unset;right:unset;left:unset;}
	.landing>img{width:100%;margin:75px auto 25px;display:block;}
	.landingTxt{width:100%;}
	.landingTxtBig,.aboutDivsTxtLarge{font-size:42px;line-height:48px;margin:25px 0;}
	.landingTxtSmall{margin:0;}

	.aboutDivs{padding:50px 0;}
	.aboutDivsTxt{width:90%;}
	.aboutDivs>img{display:none;}
	.smol{display:block;width:100%;}
}
