.landing{position:relative;display:block;left:0;top:0;height:85%;background-color:#9ED9F9;width:100%;}
.buildings{position:absolute;left:0;bottom:0;width:100%;z-index:0;padding:0;margin:0;overflow:hidden;}
.buildings img{width:100%;margin-bottom:-50px;}
.cars{position:absolute;bottom:0;left:15%;width:25%;min-width:350px;}
.sitting{position:absolute;bottom:-12%;height:50%;min-height:225px;right:650px;opacity:0;}
.header{position:absolute;top:0;left:0;width:100%;height:90px;color:white;transition-duration:0.2s;}
#navigator{position:fixed;top:-120px;left:0;width:100%;background-color:white;color:#152994;z-index:2;transition-duration:0.5s;box-shadow:2px 2px 8px rgba(0, 0, 0, 0.25);}
.header img{margin:20px 3%;width:110px;}
.menu-bar{width:50%;height:100%;font-weight:bold;display:inline-block;float:right;margin:0 0 0 5%;}
.menu-item{display:inline-block;font-size:20px;line-height:24px;width:19%;padding:10px 0;text-align:center;margin:23px 0;cursor:pointer;}
#navigator>img{padding:10px 3% 5px;height:60px;}
#navigator>.menu-bar>.menu-item{margin:10px 0 5px;}

.introTxt{position:absolute;top:22.5%;left:7.5%;font-family:Futura;}
.txtBig{font-size:65px;line-height:68px;font-weight:bold;color:#152994;text-transform:uppercase;opacity:1;word-wrap:normal;white-space:normal;width:50%;}
.txtSmall{font-size:32px;line-height:36px;margin-top:30px;color:white;font-weight:500;opacity:0;word-wrap:normal;white-space:normal;width:50%;}

.formDiv{position:absolute;right:2.5%;bottom:-7.5%;height:90%;width:550px;background-color:#fff;border-radius:20px;overflow:auto;box-shadow:4px 4px 8px rgba(0,0,0,0.25);}
.formOptionsHead{width:100%;border-radius:20px 20px 0 0;float:left;}
.formOption{width:50%;margin:7.5vh 0 0 0;padding-bottom:1%;border-bottom:2px solid #E7E7E7;text-align:center;font-size:21px;font-weight:bold;float:left;line-height:25px;cursor:pointer;color:#9D9D9D;transition-duration:0.5s;}
.selectedForm{border-color:#152994;color:black;}
.claimantForm{padding:6vh 17.5% 0;float:left;width:100%;}
.topMsg{font-size:20px;line-height:24px;font-weight:bold;}
.claimantForm form label{display:block;font-size:16px;line-height:19px;color:#152994;margin:5vh 0 0 0;}
.selectedDesig{display:inline;overflow:visible !important;}
.claimantForm form input{display:block;outline:none;border:none;font-size:16px;line-height:19px;font-family:SFProText,serif;}
.claimantForm form input[type=email],.claimantForm form input[type=password]{width:100%;border-bottom:1px solid #C9C8C8;padding:1.25% 0;color:#3F3F3F;}
.claimantForm form input[type=submit]{background-color:#152994;width:80%;margin:5vh 10% 0 10%;box-shadow:0px 0px 15px rgba(0, 0, 0, 0.25);border-radius:6px;color:#fff;font-weight:bold;padding:5%;cursor:pointer;}
.claimantForm form input[type=submit]:active{transform:translateY(2px);}
.forgotPass{font-size:12px;line-height:12px;font-style:italic;width:100%;text-align:right;margin-top:5vh;color:#152994;}
.forgotPass:active{transform:translateY(2px);}
.register{color:#797979;font-size:16px;line-height:19px;width:100%;text-align:center;margin-top:4vh;}
.register span{color:#152994;font-weight:bold;cursor:pointer;}
.victoriaDialog{height:10%;padding:50px 5% 0;}
.innerVictoriaDialog{width:40%;font-family:Futura;font-weight:normal;font-style:italic;font-size:20px;line-height:24px;position:relative;}
.innerVictoriaDialog>img{position:absolute;top:-30px;left:-10px;width:55px;z-index:-1;}
.innerVictoriaDialog>span{color:#5B5B5B;display:block;}
.innerVictoriaDialog::after{content:"";clear:both;display:table;}
.victoriaDialog .sign{color:#53C0FB;float:right;margin-top:10px;}

.videoPage{position:relative;width:1000px;margin:150px auto 0;}
.ackHR{height:5px;background-color:#152994;border-radius:5px;margin:4% 30% -2%;width:40%;}
.ackHR:nth-child(1){margin:0 12.5%;width:75%;}
.ack{font-size:36px;line-height:42px;font-weight:500;text-align:center;width:80%;margin:4% 10%;font-family:Futura;}
.videoPageBg{display:block;}
.videoPageBg,.videoCanvas{width:100%;}
.videoCanvas{filter:drop-shadow(0 40px 20px rgba(0,0,0,0.15));}
.videoCanvasDiv{width:66.67%;position:absolute;left:50%;bottom:0;transform:translateX(-50%);}
.playBtn{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);cursor:pointer;width:10%;}
.playBtn:active{transform:translate(-50%,-48%);}
.watchVid{position:absolute;top:60%;left:50%;transform:translateX(-50%);color:#fff;font-weight:bold;font-size:30px;line-height:36px;cursor:pointer;}
.watchVid:active{transform:translate(-50%,2%);}
.standingNPointing{position:absolute;right:-16.67%;bottom:0;height:95%;}

.videoDiv{position:fixed;top:0;left:0;width:100%;height:100%;z-index:1;}
.hide{display:none;}
.fadedBG{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5);}
.player{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:60%;height:auto;border-radius:5px;}
video{width:100%;height:auto;border-radius:10px;z-index:1;transition:0.5s opacity;object-fit:cover;cursor:pointer;}
#faisal{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);height:70px;width:70px;background:rgba(0,0,0,0.5);border-radius:100%;cursor:pointer;}
#faisal span{border:none;z-index:2;position:relative;}
#faisal span img{width:40%;padding:30%;}
.closeBtn{position:absolute;color:white;right:-25px;top:-35px;font-size:35px;cursor:pointer;width:20px;height:20px;}

.processDiv{min-height:100%;width:1366px;margin:5% auto;padding-top:5%;text-align:center;}
.sectionHead h1{text-align:center;font-size:42px;font-weight:100;font-family:Futura;margin:0 auto;max-width:900px;}
.sectionHead hr{border:3px solid #152994;width:150px;margin-top:20px;}
.sectionHead .hr9ED9F9{border-color:#9ED9F9;}
.processRow{display:flex;flex-wrap:wrap;width:100%;min-height:75vh;color:#434343;}
.processRow:nth-child(odd){flex-direction:row-reverse;}
.processImg{flex:40%;position:relative;}
.processImg img{position:relative;top:50%;transform:translateY(-50%);min-width:100%;display:block;margin:0 auto;max-width:100%;}
.processTxt{flex:40%;margin:0 5%;position:relative;}
.wrapperProcessTxt{top:50%;position:relative;transform:translateY(-50%);}
.processTxtH2{font-family:Futura,serif;font-weight:normal;font-size:300%;font-weight:bold;text-transform:uppercase;}
.processTxtP{font-size:95%;max-width:350px;text-align:left;}
.processRow:nth-child(odd) .processTxtP{margin-left:auto;}
.processRow:nth-child(even) .processTxtH2{transform:translateX(50px);}
.processRow:nth-child(odd) .processTxtH2{transform:translateX(-50px);}

.products{position:relative;padding-top:5%;min-height:100%;width:100%;background-color:#050738;color:#ffffff;overflow:hidden;}
.slide{position:absolute;transform:translateX(-50%);width:1240px;height:85%;top:15%;transition-duration:0.5s;overflow:hidden;}
.slideL{left:-150%;}
.slideR{left:150%;}
.slide h2{margin-top:50px;font-weight:100;font-family:Futura;font-size:30px;}
.slide hr{border:2px solid #152994;width:6%;margin:-15px 30px 0;}
.slide h1{font-family:Futura;font-size:50px;margin:0;line-height:55px;margin-top:25px;}
.slide h3{font-family:Futura;font-size:30px;margin:35px 0px;font-weight:normal;color:#ffffff;line-height:35px;padding:0 20px;border-left:5px solid #152994;}
/*.slideR h3{width:50%;font-size:26px !important;float:left;text-align:left;}*/
.slide p{font-size:26px;margin:40px 0 60px;font-weight:normal;color:rgba(255,255,255,0.7);}
.products .dikhra{left:50%;}
.dots{position:absolute;bottom:1%;left:50%;transform:translateX(-50%);visibility:hidden;}
.dots span{height:15px;width:15px;display:inline-block;background-color:rgba(255,255,255,0.2);transition-duration:0.5s;border-radius:100%;}
.dots .biryani{background-color:rgba(255,255,255,1);}
.butt{position:absolute;top:50%;transform:translateY(-50%);height:auto;width:60px;cursor:pointer;transition-duration:0.25s;}
.buttL{right:1.5%;}
.buttR{left:1.5%;transform:translateY(-50%) rotate(180deg);}
.nope{opacity:0;}
.productcolumn{height:80%;float:left;margin-top:50px;}
.col1{width:40%;}
.col2{width:60%;padding:0 5%;height:auto;left:40%;position:absolute;top:50%;transform:translateY(-50%);}
#appimg{height:90%;display:block;margin:-10px auto 0;}
.col2 img{height:60px;cursor:pointer;position:absolute;top:50%;transform:translateY(-50%);}
#store{top:33.33%;right:100px;}
#google{bottom:33.33%;right:100px;}
.col2 img:active{transform:translateY(-49.5%);}
.prod2{text-align: center;}
.prod2 h3{margin:20px 0}
.prod2 p{margin:25px 0}
.prod2 img{max-width:100%;max-height:100%;}
.productt{width:100%;float:left;margin-top:50px;}
.seperate{display:none;width:90%;margin:0 5%;float:left;}
.seperate h2{font-weight:100;font-family:Futura;font-size:30px;}
.seperate hr{border:2px solid #152994;width:15%;margin:-15px 30px 30px;}
#appimg2{width:45%;max-width:200px;height:auto;float:right;padding:0 0 10px 10px;}
.seperate h1{font-family:Futura;font-size:30px;margin:0;line-height:33px;margin-top:25px;}
.seperate h3{font-family:Futura;font-size:22px;margin:30px 0;font-weight:normal;color:#ffffff;padding-left:5px;border-left:3px solid #152994;}
.seperate p{font-size:22px;margin:15px 0;font-weight:normal;color:rgba(255,255,255,0.7);}
.dwn{height:55px;margin:20px 0;float:right;}
.dwnL{float:left;}
.dwn:active{transform:translateY(2px);}
.dsh{width:100%;height:auto;padding:5% 2.5%;}

.team{position:relative;color:#515151;width:80%;padding-top:5%;margin:0 auto 50px auto;}
.team p{margin-top:40px;}
.teamHolder{padding:40px 0;}
.teamGrpName{text-align:center;list-style-type:none;margin:0 auto 40px;padding:0;color:#9D9D9D;overflow:hidden;width:50%;}
.teamGrp{float:left;width:50%;border-bottom:3px solid #E7E7E7;color:#9D9D9D;transition-duration:0.5s;}
.teamGrp a{display:block;padding:8px;text-decoration:none;border-radius:30px;font-weight:bold;cursor:pointer;}
.teamSelected{border-color:#152994;color:black;}
.teamDiv{color:grey;text-align:justify;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;width:100%;overflow:hidden;}
.teamColumn{width:22.5%;padding:1.25%;display:none;transition-duration:0.2s;margin:0 auto;}
.teamColumn .nme{color:#000000;font-weight:bold;margin:5px 0;}
.teamColumn .pos{margin:5px 0;text-align:left;}
.teamColumn img{vertical-align:middle;width:100%;box-shadow:inset 0 0 20px 10px rgba(0,0,0,0.6) !important;}
.teamInvisible{display:inline;}
.teamContainer{position:relative;width:100%;overflow:hidden;border-radius:2px;}
.teamOverlay{position:absolute;margin-top:30px;bottom:0;left:0;right:0;height:100%;width:100%;opacity:0;transition:1s ease;background-color:#152994;cursor:pointer;}
.teamContainer:hover .teamOverlay{opacity:0.7;height:100%;}
.teamText{color:white;position:absolute;top:20%;left:25%;transform:translate(-20%,-25%);-ms-transform:translate(-20%,-25%);text-align:left;font-size:20px;text-align:center;}
@media screen and (max-width:1440px){.team{width:1140px;}.teamColumn{width:25%;}}
@media screen and (max-width:1200px){.team{width:auto;padding:100px 50px;}}
@media screen and (max-width:767px){.team{padding:50px 25px;}.teamColumn{width:50%;}}
@media screen and (max-width:650px){.teamGrpName{width:100%;margin-bottom:20px;}.teamColumn{width:90%;}}

.contact{padding-bottom:350px;width:100%;}
.contact .head{background-color:#efefef;padding:120px 100px 40px;}
.contact .head h2{font-family:Futura;font-size:60px;line-height:72px;font-weight:bold;color:#152994;margin:0;}
.contact .head p{font-family:Futura;font-size:32px;line-height:36px;font-weight:bold;margin:0;display:none;}
.mapDiv{width:100%;height:550px;position:relative;}
.mapDiv>iframe{width:100%;border:none;height:100%;}
.overlayed{padding:0 25px;box-shadow:1px 1px 4px rgba(0,0,0,0.25);border-radius:10px;position:absolute;}
.mapContact{width:450px;background-color:#fff;right:10%;top:-150px;}
.mapContact>p{font-size:30px;line-height:36px;font-family:Futura;font-weight:bold;margin:20px;}
.mapContact .fullWidthDiv{margin:25px 0;display:flex;flex-wrap:wrap;}
.mapContact .fullWidthDiv>div:nth-child(1){width:20%}
.mapContact .fullWidthDiv>div:nth-child(2){width:80%}
.mapContact img{height:50px;}
.mapContact a{display:block;font-size:18px;line-height:24px;position:relative;top:50%;transform:translateY(-50%);}
.social{margin:20px auto;width:125px;overflow:hidden;display:block;}
.social img{width:50px;float:left;cursor:pointer;}
.social img:active{transform:translateY(2px);}
.social img:nth-child(2){float:right;}
.mapForm{width:650px;background-color:#152994;left:5%;bottom:-200px;}
.mapForm img{height:100px;background-color:#152994;border-radius:100%;margin:-50px auto 0;display:block;}
.mapForm input,textarea{font-size:20px;line-height:24px;padding:25px;outline:none;border:none;border-radius:10px;}
.mapForm input[type=email],textarea{background-color:rgba(19,30,86,0.71);color:rgba(255,255,255,0.8);width:100%;}
.mapForm input[type=email]{margin:10px 0;}
.mapForm textarea{height:90px;margin:10px 0 30px;resize:none;}
.mapForm input[type=submit]{position:absolute;bottom:-100px;left:50%;transform:translateX(-50%);background-color:#152994;box-shadow:0px 0px 15px rgba(0,0,0,0.25);color:#fff;font-weight:bold;width:250px;cursor:pointer;}
.mapForm input[type=submit]:active{bottom:-102px;}

.more{color:#fff;width:100%;display:inline-block;position:relative;vertical-align:middle;overflow:hidden;display:flex;flex-wrap:wrap;background-color:#152994;padding-top:75px;}
.more .col ul {list-style-type:none;font-size:20px;line-height:24px;margin-bottom:40px;}
.more .col li{margin-bottom:8px;padding:0px 2px;}
.learn{padding:0;width:1360px;margin:0 auto;}
.learn h1{text-align:center;margin:80px 0;color:#fff;font-size:60px;font-family:Futura;font-weight:bold;}
.more .col{width:24%;float:left;margin: 0 0.5%;}
.more h4{margin:0;font-size:22px;line-height:26px;cursor:default;}
.more img{position:relative;width:100px;left:50%;transform:translateX(-50%);}
.more a{color:#fff;text-decoration:none;}
.col>ul>a>li{position:relative;}
.col>ul>a>li:before{content:"";position:absolute;width:20%;height:2px;bottom:0;left:0;background-color:#ffffff;visibility:hidden;-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transition:all 0.3s ease-in-out 0s;transition:all 0.3s ease-in-out 0s;}
.col>ul>a>li:hover:before{visibility:visible;-webkit-transform:scaleX(1);transform:scaleX(1);}
.more hr{width:100%;display:block;margin:40px auto;border:1px solid white;}

@media screen and (max-width:1600px){
	.txtBig{font-size:55px;line-height:60px;}
	.txtSmall{font-size:28px;line-height:32px;}
	.formDiv{width:500px}
	.sitting{right:550px;}

	.processDiv{width:1140px;}

	.slide{width:1200px;}
	.slide h3{font-size:26px;margin:25px 0px;}
	.slide p{font-size:23px;margin:25px 0 30px;}
	.col2 img{height:50px;}

	.teamText{font-size:17px;}

	.learn{width:1100px;}
	.mapDiv{height:450px;}
	.mapContact{width:400px;right:5%;}
	.mapForm{width:500px;left:2.5%;}
	.mapForm img{height:80px;margin-top:-40px;}

	.more h4{font-size:20px;line-height:24px;}
	.more .col ul{font-size:18px;line-height:22px;}
}


@media screen and (max-width:1200px){
	body{overflow-x:hidden;}

	.menu-bar{width:70%;margin:0;}
	.menu-item{width:18.5%;}
	.buildings img{width:250%;margin-left:-50%;}
	.cars{left:2.5%;width:40%;}
	.formDiv{display:none;}
	.sitting{bottom:-9%;height:40%;right:50px;}
	.txtBig{width:70%;}

	.videoPage{width:100%;margin:50px 0;}
	.watchVid{font-size:90%;line-height:unset;width:100%;text-align:center;}
	#faisal{height:50px;width:50px;}
	#faisal span i{font-size:unset;}
	.closeBtn{right:-20px;}

	.processDiv,.products{padding:100px 0;}
	.processDiv{width:auto;}
	.processRow{margin:10% 0;min-height:unset;}
	.processImg{height:75%;}
	.processTxtH2{font-size:150%;}
	.processImg img{left:unset;transform:unset;}

	.slide{width:870px;}

	.contact .head h2{font-size:50px;line-height:56px;}
	.mapDiv{height:450px;}
	.mapContact{width:300px;right:5%;}
	.mapForm{width:500px;left:2.5%;}
	.mapForm img{height:80px;margin-top:-40px;}

	.more{padding:2.5% 5%;width:100%;z-index:-1;}
	.learn h1{margin:50px 0;}
}

@media screen and (max-width:1200px) and (orientation:portrait){
	.player{width:90%;}
}
@media screen and (max-width:1200px) and (orientation:landscape){
	.player{width:60%;}
}


@media screen and (max-width:768px){
	.victoriaDialog{height:unset;}
	.innerVictoriaDialog{width:66.67%;}
	.videoPage{margin:25px 0 75px 0;}

	.slider{display:none;}
	.seperate{display:block;}

	.processRow{margin:0;}

	.contact{float:left;padding-bottom:75px;}
	.contact .head{padding:75px 25px 25px;text-align:center;}
	.overlayed{padding:0 3%;position:unset;display:block;float:left;}
	.mapDiv{background-color:#efefef;}
	.mapForm,.mapContact{width:90%;top:unset;left:unset;right:unset;bottom:unset;padding-top:40px;display:block;}
	.mapContact{margin:3% 5%;padding:1% 1.5%;}
	.mapForm{margin:40px 4.5%;position:relative;}
	.mapForm img{position:absolute;margin-top:0;top:-40px;left:50%;transform:translate(-50%,0);}
	.mapForm input,textarea{padding:4%;}
	.mapForm input[type=submit]{bottom:-90px;width:40%;}
	.mapForm input[type=submit]:active{bottom:-92px;}

	.more{padding:2.5%;width:100%;padding-top:75px;}
	.more .col{width:50%;float:left;margin:0;}
	.more .col ul{margin-bottom:0;}
}

@media screen and (max-width:767px){
	.menu-bar,#navigator{display:none;}
	.container{display:block;}
	.introTxt{top:15%;width:85%;}
	.header{height:60px;position:fixed;z-index:2;background-color:#9ED9F9;}
	.header img{width:80px;}
	.sc{background-color:#ffffff;box-shadow:0px 4px 4px rgba(0,0,0,0.25);}
	.vb{background-color:#9ED9F9;box-shadow:none;}

	.landing{height:100%;}
	.txtBig{font-size:60px;line-height:72px;width:100%;}
	.txtSmall{font-size:40px;line-height:46px;}
	.sitting{bottom:-9%;height:40%;right:25px;}
	.victoriaDialog{padding:20% 5% 0;}
	.innerVictoriaDialog{width:100%;}
	.cars{display:none;}

	.processDiv{margin:0 auto 10%;}
	.processDiv h1{font-size:26px;}
	.processImg{flex:100%;}
	.processRow:nth-child(even) .processTxtH2{transform:unset;}
	.processRow:nth-child(odd) .processTxtH2{transform:unset;}
	.processTxtP{max-width:90%;margin:0 auto;text-align:center;}
	.yoga{margin-top:-150px;}

	.learn h1{font-size:45px;}
	.more{padding:2.5%;}
	.more .col{width:100%;float:unset;margin:5% 0;}
	.more .col ul{margin-bottom:40px;}
}

@media screen and (max-width:600px){
	.txtBig{font-size:54px;line-height:63px;}
	.txtSmall{font-size:30px;line-height:36px;}
}

@media screen and (max-width:400px){
	.landing{min-height:600px;}
	.txtBig{font-size:48px;line-height:54px;}
	.txtSmall{font-size:28px;line-height:33px;}

	#appimg2{width:100%;float:unset;padding:0;margin:0 auto;display:block;}
	.seperate h3{font-size:28px;padding-left:20px;border-left:4px solid #152994;}
	.dwn{height:50px;}
}

@media screen and (max-height:600px){
	.introTxt{top:12.5%;}
	.landing{min-height:600px;}
}

@media screen and (max-width:1200px) and (orientation:landscape){
	.buildings img{width:100%;margin-left:0;}
	.sitting{bottom:-11%;height:50%;right:25px;}
}

@media screen and (max-width:767px) and (orientation:landscape){
	.landing{min-height:600px;}
}
