
.more{color:#fff;width:100%;display:inline-block;position:relative;vertical-align:middle;overflow:hidden;display:flex;flex-wrap:wrap;padding-top:75px;}
.more .col ul {list-style-type:none;font-size:18px;line-height:24px;margin-bottom:40px;padding: 0px;}
.more .col li{margin-bottom:8px;padding:0px 10px;}
.learn{padding:0;width:1360px;margin:0 auto;}

.more .col{width:20%;float:left;margin-left: 1%;padding-left: 50px;}
.more h4{margin:0;font-size:20px;line-height:26px;cursor:default;}
.more img{position:relative;width:100px;left:50%;transform:translateX(-50%);}
.more a{color:#fff;text-decoration:none;}
.col>ul>a>li{position:relative;}
.col>ul>a>li:before{content:"";position:absolute;width:20%;height:2px;bottom:0;left:0;background-color:#ffffff;visibility:hidden;-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transition:all 0.3s ease-in-out 0s;transition:all 0.3s ease-in-out 0s;}
.col>ul>a>li:hover:before{visibility:visible;-webkit-transform:scaleX(1);transform:scaleX(1);}


#copyRight	{
	font-size: small;
	margin: 0;
	color: white;
	font-family: "Raleway", sans-serif;
	text-align: center;
}


@media screen and (max-width: 400px) {
	
	#copyRight	{
		font-size: xx-small;
	}
}
